body {
    text-align: center;
    background-color: #18181f;
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 3.125em;
}

a{
    text-decoration: none;
    color: #fff;
}

.personal-website{
    border: 1px solid #454b5f;
    border-radius: 5px;
    padding: 0.625em;
    margin: 1.25em 3.125em;
}

.socials-color{
    color: #fff;
}

#socials-list{
    margin: 0.625em 2.1875em 0.625em 2.1875em;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}


/* @media (min-width: 768px) {
    body {
        display: flex;
    }
} */

/* will work on responsiveness another day */