body {
    text-align: center;
    background-color: #997950;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
}

#instagram-link {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 5px 45px 5px 45px;
    padding: 10px 15px 10px 15px;
    background-color: green;
    border-radius: 7px;
}

.fa-instagram {
    font-size: 25px;
}